node_modules/**/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
.idea
babel.config.js
.vscode
.github
serviceworker.js
App.test.js

# macOS
.DS_Store

# docs
docs/**/*